.baner {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #ffff 0%, #f6f6f6 100%);
}
.text {
  margin-top: 40vh;
  margin-left: 10vw;
  margin-right: 7vw;
  float: left;
  width: 50vw;
  min-height: 70vh;
}
.img {
  width: 50vw;
  height: 50vw;
  margin-right: 6vw;
  margin-bottom: 20vh;

  margin: 0 0 auto auto;
}
.name {
  /*margin-top: 30vh;
  text-align: center;
  color: #474747;*/

  text-align: left;
  font: normal normal 300 3.6vh/4.6vh Roboto;
  letter-spacing: 0px;
  color: #474747;
  opacity: 1;
}
.shortDescription {
  /* text-align: center;
  color: black;
  text-transform: uppercase;*/

  text-align: left;
  font: normal normal 900 7.2vh/6.4vh Roboto;
  letter-spacing: 0px;
  color: #292725;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 3vh;
}
.description {
  text-align: left;
  font: normal normal 300 2.1vh/3.2vh Roboto;
  letter-spacing: 1.1px;
  color: #292725;
  opacity: 1;
  margin-top: 3vh;
  padding-bottom: 3vh;
  border-bottom: solid 5px #e8e8e8;
  border-radius: 3px;
}
.data {
  text-align: left;
  font: normal normal normal 1.5vh/2.4vh Roboto;
  letter-spacing: 0.7px;
  color: #292725;
  opacity: 1;
  margin-top: 3vh;
}
.inf {
  text-align: left;
  margin-right: auto;
  width: 33vw;
}
.inf span {
  margin-left: 10px;
  margin-right: 15px;
  font-size: 12px;
}
.buttonBaner {
  text-align: left;
  font: normal normal bold 16px/20px Roboto;
  letter-spacing: 0.8px;
  color: #474747;
  text-transform: uppercase;
  margin-top: 12vh;
  padding: 18 48 21 45;

  position: relative;

  display: block;
  text-align: center;
  border-radius: 30px;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}
.buttonBaner:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
/*.light {
  image-orientation: 90deg;
}*/
#car {
  transform: rotate(90deg);
}
